<h1 class="custom-font" mat-dialog-title>{{countryData.name}}</h1>
<div mat-dialog-content>
  <div class="col-md-12 col-lg-12">
    <div class="row">
      <table class="table">
        <tr>
          <td>Capital</td>
          <td>{{countryData.capital}}</td>
        </tr>
        <tr>
          <td>Currencies</td>
          <td> {{countryData.currencies}} </td>
        </tr>
        <tr>
          <td>Region</td>
          <td>{{countryData.region}}</td>
        </tr>
        <tr>
          <td>Subregion</td>
          <td> {{countryData.subregion}} </td>
        </tr>
        <tr>
          <td>Borders</td>
          <td> {{countryData.borders}} </td>
        </tr>
        <tr>
          <td>Timezones</td>
          <td>{{countryData.timezones}}</td>
        </tr>
        <tr>
          <td>Geographic Coordinate</td>
          <td> {{countryData.latlng}} </td>
        </tr>
        <tr>
          <td>Domain</td>
          <td>{{countryData.topLevelDomain}}</td>
        </tr>
        <tr>
          <td>Population</td>
          <td> {{countryData.population}} </td>
        </tr>
        <tr>
          <td>Other Name</td>
          <td> {{countryData.altSpellings}} </td>
        </tr>
        <tr>
          <td>Demonym</td>
          <td> {{countryData.demonym}} </td>
        </tr>
        <tr>
          <td>Languages</td>
          <td> {{countryData.languages}} </td>
        </tr>
      </table>
    </div>
  </div>
</div>