.gridSection {
    height: 85%;
}

.filterSection {
    height: 15%;
}

@media only screen and (max-width: 576px) {
    .gridSection {
        height: 76%;
    }
    
    .filterSection {
        height: 24%;
    }
}