<mat-card class="py-0 diplay-inline w-50" style="padding-top: 4.5px!important;">
  <mat-form-field class="pr-5">
    <mat-label class="custom-font">Region</mat-label>
    <mat-select [(value)]="selectedRegion" (selectionChange)="onRegionChange($event.value)">
      <mat-option *ngFor="let region of regionList" [value]="region.value">
        {{region.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="pl-5">
    <mat-label class="custom-font">Sub Region</mat-label>
    <mat-select [(value)]="selectedsubRegion">
      <mat-option *ngFor="let item of subregionlist" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>
<mat-card class="diplay-inline w-50 align-items-center justify-content-center">
  <button mat-button color="primary" class="mr-5 custom-font" (click)="getGridData()">Search</button>
  <button mat-button color="primary" class="mr-5 custom-font" (click)="restGridData()">Reset</button>
  <div class="pl-5 ml-5">
    <label class="custom-font m-0">Total Country :{{count}}</label>
  </div>
</mat-card>
