/* You can add global styles to this file, and also import other style files */
body{
    overflow: hidden;
}

.demoBorder{
    border:.5px solid black
}

.hp-10{
    height:10%
}

.hp-7{
    height:7%
}

.hp-83{
    height:83%
}