/* You can add global styles to this file, and also import other style files */

body {
    overflow: hidden;
}

.demoBorder {
    border: .5px solid black
}


.hp-8 {
    height: 8%
}

.hp-7 {
    height: 7%
}

.hp-85 {
    height: 85%
}

.bg-color {
    background-color: #673ab7;
}

mat-footer-row, mat-header-row, mat-row, td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-color: #b69ee0;
    font-family: 'Times New Roman', Times, serif;
}

.text-color-white {
    color: white;
}

.mat-header-cell {
    color: white;
    background-color: #673ab7;
}

.mat-button.mat-primary {
    border: 1px solid;
}

.custom-font {
    font-family: 'Times New Roman', Times, serif;
    color: #673ab7;
}

.header-font {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.mat-option-text, .mat-select-value, h1, h6, p {
    font-family: 'Times New Roman', Times, serif;
}

h1, h6 {
    font-weight: 900;
    /* border-bottom: .25px solid black; */
}

.custom-font-size {
    font-size: 1rem;
}

.mat-paginator, .mat-select-value {
    color: #673ab7;
}

.cursor-p {
    cursor: pointer
}

.card-body {
    padding: .5rem;
}

@media only screen and (max-width: 576px) {
    /* .hp-8 {
        height: 6%
    }
    
    .hp-7 {
        height: 8%
    }
    
    .hp-85 {
        height: 85%
    } */
}